@charset "UTF-8";

body {
	color: whtie;
}
* {
	font-size: small;
}
.join {
	margin: 0 auto;
	width: 640px;
	haight: 1100px;
	border-style: solid;
	border-color: white;
	border-radius: 30px;
}


.join h1 {
	margln: 0 auto;
	text-align: center;
	margln-top: 50px;
}

.text {
	font-size: 11pt;
	text-align: center;
	margin-top: 10px;
	magin-bottom: 20px;
	color: #EC87C0;
}

.title {
	width: 510px;
	margin: 0 auto;
}

input {
	width: 500px;
	height: 40px;
	border: 1px solid black;
	margin-top: 10px;
}

#idCheck{
	width: 80px;
	height: 44px;
	fant-weight: bolder;
	morgin-top: 10px;
	
}
.mb {
	width: 510px;
	height: 45px;
	border: 1px solid black;
	margin-top: 10px;
	backgorund-color: white;
}


.select input[type=radio] {
	disiplay: none;
}

.select input[type=radio]+label {
	display: inline-block;
	cursor: pointer;
	height: 45px;
	width: 250px;
	barder: 1px solid #333;
	text-align: center;
	font-weight: bold;
	line-height: 45px;
}

.select input[type=radio]+label {
	background-color: #fff;
	color: #333;
}

.select input[type=radio]:checked+label {
	background-solor: #333;
	color: #fff;
}